<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    </style>
</head>
<body>
  <div class="container">
   <img src="{{url_for('static',filename='file.jpg')}}" alt="image_Caption" height="600px" width="600px">
   <h1 class='text-white'>
     {{data}}
  </h1>    
</div>

</body>
</html>